*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #d4d4d4;
    
}
body{
    background: rgb(0, 0, 0);
    margin: 0 100px;
}

/*  */

header{
    background: rgb(40, 40, 40);
    margin: 10px 100px;
    border-radius: 12px;
    padding: 10px;
    box-shadow:0px 14px 50px #d4d4d462;
}
img{
    width: 80px;
    
}
.he{
    display: flex;
    justify-content:space-between ;
    align-items: center;
   
}
.su{
    display: flex;
    align-items: center;
}
.su a{
    font-size: 24px;
    margin: 0 5px;
    transition: 0.3s ease;
}
.su a:hover{
    transform: scale(1.1);
}

.EN{
    font-family: "Rubik Vinyl", serif;
    font-weight: 400;
    font-size: 24px;
    margin-right: 14px;
}
/*  */
section{
   display: flex;
   justify-content: center;
   margin: 50px 0 ;
   padding: 10px;
   font-family: "Zain", serif;
   font-size: 24px;
}
.fa-location-dot{
    font-size: 18px;
    margin-left: 5px;
}
.d{
    width: 1000px;
}
.d1{
    background: rgb(55, 55, 55);
    border-radius: 10px;
    padding: 20px;
    border: 1px  solid #fff;
}
.d1 h1 strong{
    transition: 0.3s ease;
}
.d1 h1 strong:hover{
    color: rgb(42, 42, 211);
}
.d2{
    margin-top: 15px;
    background: rgb(55, 55, 55);
    border-radius: 10px;
    padding: 20px;
    border: 1px  solid #fff;

}
.hcj{
    display: flex;
    align-items: center;
}
.hcj img{
    width: 30px;
}
.d2 div img{
    margin:10px 5px 0 5px;
}
/*  */

.k{
    text-align: center;
    background: #d4d4d40a;
    box-shadow: 1px 1px 100px  #d4d4d462;

}
.r{
    display: flex;
    justify-content: space-between;
}
.t .ig{
    display: flex;
    justify-content: center;
}
.t {
    width: 450px;
    margin: 10px 0;

    transition: 0.4s ease;
    
}
.t:hover{
    box-shadow: 1px 1px 100px #ffffff7d;
}
.t img{
    width: 430px;
    border-radius: 9px;
}
.hcu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hcu img{
    width: 20px;
    border-radius: 0;
    margin: 10px 3px;

}

.ig  h3 {
    margin: 10px 5px;
    background: rgb(87, 87, 87);
    padding: 12px;
    border-radius: 12px;
    transition: 0.4s ease;
}
.ig  h3:hover{
    background:#d4d4d462 ;
}
.rt h1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.rt h1 i{
    font-size: 30px;
}



@media only screen and (max-width: 1220px) {

    header{
        margin: 10px 0;
    }

    section{
        margin: 50px 0px ;
        font-size: 20px;
     }
     .k{
        text-align: center;
        background: #d4d4d40a;
        box-shadow: 1px 1px 100px  #d4d4d462;
    
    }
    
    .t {
        width: 380px;
        margin: 10px 10px;
    }
  
    .t img{
        width: 300px;
        border-radius: 9px;
    }
    
    .hcu img{
        width: 20px;
        border-radius: 0;
        margin: 10px 3px;
    
    }


}

@media only screen and (max-width: 980px) {

    .t {
        width: 330px;
        margin: 10px 10px;
    }
  
    .t img{
        width: 300px;
        border-radius: 9px;
    }
    .hcu{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .hcu img{
        width: 20px;
        border-radius: 0;
        margin: 10px 3px;
    
    }


}

@media only screen and (max-width: 870px) {

    body{
        
        margin: 0 50px;
    }



    section{
     
        margin: 50px 25px ;
        font-size: 20px;
     }

  
    .r{
       display: grid;
       justify-content: center;
    }
    .t {
        width: 550px;
        margin: 10px 0;    
    }
    .t img{
        width: 430px;
    }
 
    
    .hcu img{
        width: 20px;
        border-radius: 0;
        margin: 10px 3px;
    
    }

}

@media only screen and (max-width: 640px) {
    header{
        margin: 10px 9px;
    }

    body{
        
        margin: 0 20px;
    }
    img{
        width: 60px;
        
    }
 
    .su a{
        font-size: 20px;
    }
    .EN{

        font-size: 20px;
    }

    section{
     
        margin: 25px 0px ;
        font-size: 18px;
     }


     .t {
        width: 100px;
    }

    .t img{
        width: 100px;
 
    }

    .t {
        width: 350px;
        margin: 10px 0;    
    }
    .t img{
        width: 330px;
        border-radius: 9px;
    }
    .hcu{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .hcu img{
        width: 20px;
        border-radius: 0;
        margin: 10px 3px;
    
    }

    .rt h1 i{
        font-size: 20px;
    }


}

@media only screen and (max-width: 400px) {
    header{
        margin: 10px 9px;
    }

    body{
        
        margin: 0 20px;
    }
    img{
        width: 60px;
        
    }
 
    .su a{
        font-size: 20px;
    }
    .EN{

        font-size: 20px;
    }

    section{
     
        margin: 25px 0px ;
        font-size: 18px;
     }


     .t {
        width: 100px;
    }

    .t img{
        width: 100px;
 
    }

    .t {
        width: 250px;
        margin: 10px 0;    
    }
    .t img{
        width: 230px;
        border-radius: 9px;
    }
    .hcu{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .hcu img{
        width: 20px;
        border-radius: 0;
        margin: 10px 3px;
    
    }


}

